<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Sign Up</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container mt-4">
      <form method="POST" action="/user/signup">
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input
            name="fullName"
            type="text"
            class="form-control"
            id="fullName"
            aria-describedby="nameHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
